//////////////////////////////////////
/// LOGO
.logo {
    height: 3.25rem;
    margin-left: 3rem;

}

//////////////////////////////////////
/// SEARCH
.search{
    flex: 0 0 40%; // grow shrink and flex-basis

    display: flex; //permet e center l input et l icon search
    align-items: center;
    justify-content: center;


    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 90%;
        transition: all .2s;
        margin-left: -3.25rem;

        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }

        &::-webkit-input-placeholder{
            font-weight: 100;
            color:var(--color-grey-light-4);
        }
    
    }
    &__input:focus + &__button {
        background-color: var(--color-grey-light-3);
    }
    &__button {
        border: none;
        background-color: var(--color-grey-light-2);
    
        &:focus {
                outline: none;
            }

        &:active{
            transform: translateY(2px);
        }

    }
    &__icon {
        height: 2rem;
        width: 2rem ;
        fill:var(--color-grey-dark-3); // to color the svg
        margin-left:-40px;
    }
}

////////////////////////////
/// USERNAV
.user-nav {

    display: flex;
    align-self: stretch; // allow to strech vertically all the element and so have the color highlight
    align-items: center;

    & > * {
        //apply to all element, svg and picture
        padding: 0 2rem;
        cursor: pointer;
        height: 100%; // goes with align-self = stretch
        display: flex; // pour gerer les notifications par la suite
        align-items: center;// pour gerer les notifications par la suite / 3e niveau
    }
    & > *:hover {
        background-color: var(--color-grey-light-2);
    }

    &__icon-box{
        position: relative;
    

    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem ;
        fill: var(--color-grey-dark-2);
    
    }
    &__notification {
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 100%;
        background-color: var(--color-primary);
        color: #fff;
        position: absolute; //to position on top -> donc icon-box devient relative
        top: 1.5rem; // to position on top
        right: 1.1rem;

        display: flex;
        justify-content: center;
        align-items: center;


    }
    &__user-photo {
        height: 3.75rem;
        border-radius: 100%;
        margin-right: 1rem;
      
    }
}
