.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color:var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);
    min-height: 50rem;
}

.header {
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--color-grey-light-2);

    display:flex;
    justify-content: space-between;
    align-items: center;
    /* on fait un flex, on space between pour avoir les 3 element et on center vertically avec item */
}

.content {
    display:flex;

}

.sidebar { 
    background-color: var(--color-grey-dark-1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 18%; // 1st flex grow 2nd for shrink and then flex-basis

}

.hotel-view {
    background-color: #fff;
    background-color: orangered;
    flex: 1;
    height: 80rem;

}

