.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color:var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);
    min-height: 50rem;
}

.header {
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--color-grey-light-2);
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* on fait un flex, on space between pour avoir les 3 element et on center vertically avec item */
}

.content {
    display:flex;

}

.sidebar {
    background-color: var(--color-grey-dark-1);

    flex: 0 0 18%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view {
    background-color: #fff;

    flex: 1;
}

