/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* original settings and remove the padding of 30 px */
* {
    margin: 0;          
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,       
        rgba(126, 213, 111, 0.8),     
        rgba(40, 180, 133, 0.8)),   
        url(../img/hero.jpg);
    background-size: cover;
    background-position: top; /* indicate to not crop the top of the image */
    position: relative; 


    clip-path:polygon(0 0, 100% 0, 100% 75vh,0 100%) /* allow to "clip" the picture at the bottom */
}


/* start to work with transform tranlate .............    */


.logo-box{
    position: absolute; /* due to absolute, we need to a relative parent -> 
    it is on the header, and it will move from 40 to 40 relatively to the parent */
    top: 40px;
    left:40px;
}

.logo {
    height:35px;
}


/* to contain text and the button */
.text-box{
    position: absolute; /* aboslute to relative to the parent header */
    top: 40%; /* relative to the parent element */
    left:50%;
    transform: translate(-50%,-50%); /* add it to recenter because with the top and left, it is not center */
    text-align: center;
}



.header-primary{
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden; /* at the end of the animation, ca deconne donc utilise ca  */
}


.header-primary-main{
display: block;
font-size: 60px;
font-weight: 400;
letter-spacing: 35px;
animation: moveInLeft 1s ease-out;
/* original animation but we created keyframes to define it below 
animation-name: moveInLeft;
animation-duration: 1s;
animation-delay: 2s;
*/
}
.header-primary-sub{
    display: block; /* allow to occupy all the row and provide with a return chariot */
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;

    animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft{
    0% {
        opacity:0;
        transform: translateX(-100px);
    }
    80% {
        transform: translateX(10px);
    }
    100% {
        opacity:1;
        transform: translate(0);
    }
}

@keyframes moveInRight{
    0% {
        opacity:0;
        transform: translateX(100px);
    }
    80% {
        transform: translateX(-10px);
    }
    100% {
        opacity:1;
        transform: translate(0);
    }
}
/* btn:link is a pseudo classe for special state */
.btn:link,
.btn:visited{
    text-transform: uppercase;
    text-decoration: none; /* remove hyperlink color and underlying */
    padding: 15px 40px; /* (top bottom) and  (left right)  ELSE it is top right bottom left*/
    display: inline-block; /* do that if we have some paddding -> for text-align it is in text-box parent */
    border-radius: 100px;
    transition: all .2s;
    position: relative; /* it is for btn::after */

}
.btn-white{
    background-color: #fff;
    color: #777;
    }
.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px, rgba(0,0,0,.2);
}
.btn:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px, rgba(0,0,0,.2);
}


.btn::after {   /* here it is a pseudo element, and not a classes */
    content: ""; /* always necessary to have it appears , whatever the pseudo element */
    display: inline-block;
    height: 100%;
    width:100%;
    border-radius: 100px;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; /* set to 0 after transition / create the effect */
}
.btn-animated{
    transform: moveInButton .5s ease-out .75s;
    animation-fill-mode: backwards;
}

@keyframes moveinButton{
    0% {
        opacity:0;
        transform: translateY(30px);
    }
    100% {
        opacity:1;
        transform: translate(0);
    }
}